@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");

/* estilos personalizados en la tipografía */
a {
  text-decoration: none;
  color: initial;
}
.large-icon, .large-icon::before {
  font-size: 10rem !important;
}
.letter-spacing {
  letter-spacing: 1.4px !important;
}
.font-bruna {
  font-family: 'Megrim', cursive !important;
  font-weight: bold;
  letter-spacing: .2rem;
}
.text-wrap {
  white-space: break-spaces;
  text-overflow: clip;
  overflow: auto;
}
body > div:nth-child(2) {
  display: none !important;
}
/* Iconos personalizados */
i.logo::before {
  display: block;
  width: 100%;
  content: url("logo.svg");
}
i.logo {
  display: block;
  position: absolute;
  top: -2.3rem;
  left: 10rem;
}

/* Clases del nav personalizadas*/
.nav-link {
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
}

/* Clases personalizadas rápidas */
.items-end {
  justify-items: end;
}

/* Estilos personalizados del calendario */
.calendar {
  min-height: 80vh !important;
  border-radius: .3rem;
  .cv-header {
    flex-direction: column;
    @media (min-width: 600px) {
      flex-direction: row;
    }
  }
  .cv-header, .cv-header-nav *, .cv-weeks {
    border: none;
  }
  .cv-header .periodLabel {
    text-transform: capitalize;
  }
  .cv-header-nav button {
    border: none;
    border-radius: .3rem;
  }
  .cv-header-nav button:hover {
    background-color: rgb(var(--v-theme-muted));
  }
  .cv-day {
    display: block;
    text-align: center;
  }
}
.v-theme--darkTheme {
  .calendar {
    .cv-header, .cv-header-nav *, .cv-weeks, .cv-header-days {
      border: none;
      background-color: transparent;
    }
    .cv-header-day {
      border: none;
      background-color: rgb(var(--v-theme-muted));
    }
    .cv-day {
      border: 1px;
      border-style: solid;
      border-color: rgb(var(--v-theme-muted));
    }
    .cv-day.today {
      background-color: rgb(var(--v-theme-primario-claro));
    }
    .cv-day.future {
      background-color: #2f2f2f;
    }
    .cv-day.past, .cv-day.outsideOfMonth {
      background-color: rgb(var(--v-theme-surface));
    }
    .cv-item {
      border: none;
    }
  }
}
.inasistente {
  background-color: rgb(var(--v-theme-absentee));
}
.pase-justificado {
  background-color: rgb(var(--v-theme-justified));
}
.reposo {
  background-color: rgb(var(--v-theme-repose));
}