@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");

a {
  text-decoration: none;
  color: initial;
}
.font-bruna {
  font-family: 'Megrim', cursive;
  font-weight: bold;
  letter-spacing: .2rem;
}